<!DOCTYPE html>
<html style="height:90%;">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] </title>
    <script src="https://www.google.com/recaptcha/api.js?hl=fa"
            async defer>
    </script>

    <link rel="stylesheet" href="~/styles/fonts.css">
    <link rel="stylesheet" href="~/styles/reset.css">
    <link rel="stylesheet" href="~/styles/bootstrap-grid.min.css">
    <link rel="stylesheet" href="~/styles/style.css">

    @*<link rel="stylesheet" href="~/styles/jquery.mCustomScrollbar.css">
        <link rel="stylesheet" href="~/vendor/select2/css/select2.min.css">
        <link rel="stylesheet" href="~/vendor/jquery-nice-select/css/nice-select.css">
        <link rel="stylesheet" href="~/vendor/datepicker/css/bootstrap-datepicker.min.css">
        <link rel="stylesheet" href="~/vendor/tablesorter/css/theme.default.min.css">
        <link rel="stylesheet" href="~/vendor/tagsinput/css/bootstrap-tagsinput.css">
        <link rel="stylesheet" href="~/vendor/autocomplete/css/jquery.autocomplete.css">*@
    <link rel="stylesheet" href="~/vendor/flexslider/css/flexslider.css">


    <link rel="stylesheet" href="~/styles/custom.css">
    <link rel="stylesheet" href="~/styles/login.css">

</head>

<body style="overflow:hidden">

    <div class="page page-login">
        <div class="wrapper">
            <div class="container">
                <div class="row" style="max-height:450px;height:430px">
                    <div class="col-md-5 col-sm-12">
                        <div class="box login-box">
                            <div class="box-header clearfix">
                                <div class="logo-holder">
                                    <img class="logo" src="~/images/logo/Logo.png" alt="شهر ساعت">
                                </div>
                                <h2 class="box-header-title text-center">ورود به حساب کاربری</h2>
                            </div><!-- .header -->
                            <div class="box-body">
                                @RenderBody()
                            </div><!-- /.body -->
                        </div>
                    </div><!-- /.col -->
                    <div class="col-md-7 col-sm-12">
                        <div class="news-slider-holder">
                            <div class="flexslider news-slider">
                                <ul class="slides">
                                    <li>
                                        <div class="caption">
                                            <div class="caption-header">
                                                <h2 class="caption-header-title">
                                                    <a href="javascript:void(0)">عنوان اطلاعیه / خبر در اینجا قرار میگیرد</a>
                                                </h2>
                                                <p class="caption-header-meta">
                                                    <span class="caption-header-meta-date">۱۱ تیر ماه ۱۳۹۸</span>
                                                </p>
                                            </div><!-- /.header -->
                                            <div class="caption-body">
                                                <div class="caption-content">
                                                    <p>
                                                        لورم ایپسوم یا طرح‌نما  به متنی آزمایشی و بی‌معنی در صنعت چاپ، صفحه‌آرایی و طراحی گرافیک گفته می‌شود. طراح گرافیک از این متن به عنوان عنصری از ترکیب بندی برای پر کردن صفحه و ارایه اولیه شکل ظاهری و کلی طرح سفارش گرفته شده استفاده می نماید، تا از نظر گرافیکی نشانگر چگونگی نوع و اندازه فونت و ظاهر متن باشد.
                                                    </p>
                                                </div>
                                            </div><!-- /.body -->
                                        </div>
                                        <div class="image">
                                            <a href="javascript:void(0)">
                                                <img src="~/images/login-slider/1.jpg" alt="image">
                                            </a>
                                        </div>
                                    </li><!-- /.item -->

                                    <li>
                                        <div class="caption">
                                            <div class="caption-header">
                                                <h2 class="caption-header-title">
                                                    <a href="javascript:void(0)">عنوان اطلاعیه / خبر در اینجا قرار میگیرد</a>
                                                </h2>
                                                <p class="caption-header-meta">
                                                    <span class="caption-header-meta-date">۱۱ تیر ماه ۱۳۹۸</span>
                                                </p>
                                            </div><!-- /.header -->
                                            <div class="caption-body">
                                                <div class="caption-content">
                                                    <p>
                                                        لورم ایپسوم یا طرح‌نما  به متنی آزمایشی و بی‌معنی در صنعت چاپ، صفحه‌آرایی و طراحی گرافیک گفته می‌شود. طراح گرافیک از این متن به عنوان عنصری از ترکیب بندی برای پر کردن صفحه و ارایه اولیه شکل ظاهری و کلی طرح سفارش گرفته شده استفاده می نماید، تا از نظر گرافیکی نشانگر چگونگی نوع و اندازه فونت و ظاهر متن باشد.
                                                    </p>
                                                </div>
                                            </div><!-- /.body -->
                                        </div>
                                        <div class="image">
                                            <a href="javascript:void(0)">
                                                <img src="~/images/login-slider/2.jpg" alt="image">
                                            </a>
                                        </div>
                                    </li><!-- /.item -->
                                    <li>
                                        <div class="caption">
                                            <div class="caption-header">
                                                <h2 class="caption-header-title">
                                                    <a href="javascript:void(0)">عنوان اطلاعیه / خبر در اینجا قرار میگیرد</a>
                                                </h2>
                                                <p class="caption-header-meta">
                                                    <span class="caption-header-meta-date">۱۱ تیر ماه ۱۳۹۸</span>
                                                </p>
                                            </div><!-- /.header -->
                                            <div class="caption-body">
                                                <div class="caption-content">
                                                    <p>
                                                        لورم ایپسوم یا طرح‌نما  به متنی آزمایشی و بی‌معنی در صنعت چاپ، صفحه‌آرایی و طراحی گرافیک گفته می‌شود. طراح گرافیک از این متن به عنوان عنصری از ترکیب بندی برای پر کردن صفحه و ارایه اولیه شکل ظاهری و کلی طرح سفارش گرفته شده استفاده می نماید، تا از نظر گرافیکی نشانگر چگونگی نوع و اندازه فونت و ظاهر متن باشد.
                                                    </p>
                                                </div>
                                            </div><!-- /.body -->
                                        </div>
                                        <div class="image">
                                            <a href="javascript:void(0)">
                                                <img src="~/images/login-slider/3.jpg" alt="image">
                                            </a>
                                        </div>
                                    </li><!-- /.item -->

                                </ul>
                            </div>
                            <div class="custom-navigation">
                                <a href="javascript:void(0)" class="flex-prev">
                                    <img src="~/images/icons/news-slider-right-arrow.svg" alt="icon">
                                    <span>قبلی</span>
                                </a>
                                <div class="custom-controls-container"></div>
                                <a href="javascript:void(0)" class="flex-next">
                                    <span>بعدی</span>
                                    <img src="~/images/icons/news-slider-left-arrow.svg" alt="icon">
                                </a>
                            </div>
                        </div>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </div><!-- /.wrapper -->
    </div><!-- /.page -->

    <script src="~/scripts/jquery-3.2.1.min.js"></script>
    <script src="~/scripts/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="~/vendor/jquery-nice-select/js/jquery.nice-select.min.js"></script>
    <script src="~/vendor/jquery-nice-select/js/prism.js"></script>
    <script src="~/vendor/select2/js/select2.full.min.js"></script>
    <script src="~/vendor/datepicker/js/bootstrap-datepicker.min.js"></script>
    <script src="~/vendor/datepicker/js/bootstrap-datepicker.fa.min.js"></script>
    <script src="~/vendor/tablesorter/js/jquery.tablesorter.min.js"></script>
    <script src="~/vendor/tablesorter/js/jquery.tablesorter.widgets.min.js"></script>
    <script src="~/vendor/tagsinput/js/bootstrap-tagsinput.min.js"></script>
    <script src="~/vendor/flexslider/js/jquery.flexslider-min.js"></script>
    <script src="~/vendor/flexslider/js/jquery.easing.js"></script>
    <script src="~/vendor/flexslider/js/jquery.mousewheel.js"></script>
    <script src="~/vendor/autocomplete/js/jquery.autocomplete.js"></script>
    <script src="~/scripts/script.js"></script>
    <script>
        function onloadCallback() {
            debugger;
            $("#recaptcha-anchor-label").html("من ربات نیستم");
        };
        function mtest() {
            var s = $("form").serializeArray();
            var p = "";
            for (var i = 0; i < s.length; i++) {
                if (s[i].name == "g-recaptcha-response") {
                    console.log("s is : ", s[i].value);
                    p = s[i].value;
                }
            }
            if (p == "")
                alert("لطفاً من ربات نیستم را تایید نمایید");
            else {
                $("form").submit();
            }
        }
    </script>









    @RenderSection("Scripts", required: false)
</body>
</html>
