@*@model IEnumerable<RayaHesab.Models.Pardartb>*@

@{
    ViewData["Title"] = "اسناد نقره";
    Layout = null;
}

<div class="row" style="background-color:white">
    <div class="col-md-2">
        <select id="selsearch" class="form-control"></select>
    </div>
    <div class="col-md-2">
        <select id="selamal" class="form-control">
            <option value="">شامل باشد</option>
            <option value=">">بزرگتر</option>
            <option value=">=">بزرگتر</option>
            <option value="<">کوچکتر</option>
            <option value="<=">کوچکتر مساوی</option>
            <option value="!">مخالف باشد</option>
        </select>
    </div>
    <div class="col-md-4">
        <input type="text" id="txtsearch" class="form-control" />
    </div>
    <div class="col-md-3 form-inline">
        <button type="button" class="btn pbtnHISuccess" onclick="search()">
            <i class="fa fa-search"></i>
        </button>
        <button onclick="closesearch()" class="btn pbtnHIDanger"><i class="fa fa-window-close"></i></button>
        <button onclick="getsanaddar()" class="btn pbtnHIPrint"><i title="بازسازی" class="fa fa-redo-alt"></i></button>
    </div>
</div>

<div class="row" style="background-color:white" id="sanaddar"></div>



<!-- Modal -->
<div class="modal fade" id="MyModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalTittle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <a href="#" onclick="showsetting()">
                    <i class="fa fa-cog"></i>
                </a>
            </div>
            <div class="modal-body" id="ModalBody">
                ...
            </div>
        </div>
    </div>
</div>



<script>
    function showsetting() {
        $("#MyModalsetting").modal("show");
    }
    function getsanaddar() {
        $(".loading").hide();
        $(".loading").show();
        $.ajax({
            url: "/Pardartbs/Listnoghre",
            type: "Get"
        }).done(function (result) {
            $("#MyModal").modal("hide");
            $("#sanaddar").html(result);
            var colCount = 0;
            var cols = [];
            $('tr:nth-child(1) th').each(function () {
                if ($(this).attr('data-role') != undefined)
                    cols.push("<option value='" + colCount + "'>" + $(this).attr('data-role') + "</option>");
                colCount++;
            });
            $("#selsearch").html(cols.join(""));
            console.clear();
            console.log(cols.join(""));
            $("table").tablesorter({
                theme: 'blue',
                // initialize zebra and filter widgets
                widgets: ["filter", "math"],
                widgetOptions: {
                    math_mask: '#,##0.00',
                    filter_reset: '.reset'
                }
            })
            $(".loading").hide();
            $(".DateText , .DateTextE").pDatepicker({
                initialValueType: 'persian',
                calendar: {
                    persian: {
                        locale: 'en'
                    }
                },
                autoClose: true,
                format: 'YYYY/MM/DD'
            });

        });

    }
    $(function () {
        getsanaddar();
    })
    function Create() {
        $(".loading").hide();
        $(".loading").show();
        $.ajax({
            url: "/Pardartbs/Createnoghre",
            type: "Get"
        }).done(function (result) {
            $("#MyModal").modal("show");
            $("#ModalTittle").html("ایجاد");
            $("#ModalBody").html(result);
            $(".loading").hide();
            loadcoding();
            loadcodingBes();
            $(".DateText").pDatepicker({
                initialValueType: 'persian',
                calendar: {
                    persian: {
                        locale: 'en'
                    }
                },
                autoClose: true,
                format: 'YYYY/MM/DD'
            });
        });
    };
    function newrow() {
        $("#txtmoinB").val("");
        $("#txtmoinB").removeAttr("disabled");
        $("#txtpersonB").removeAttr("disabled");
        $("#txtpersonB").val("");
        $("#hfmoinidB").val("");
        $("#hftafidB").val("");
        $("#hfpersonidB").val("");
        $("#txtmoinS").removeAttr("disabled");
        $("#txtpersonS").removeAttr("disabled");
        $("#hfmoinidS").val("");
        $("#txtmoinS").val("");
        $("#hftafidS").val("");
        $("#txtpersonS").val("");
        $("#hfpersonidS").val("");
        $("#mab").val("");
        $("#not").val("");
        $("#txtTitleC").val("");
        $("#txtpersonB").select();


    }
    function actionrow(t) {
         
        $("#hfthesab").val(t)
        $.post($("#formaction").attr("action"), $("#formaction").serialize(), function (data) {
            if (data.msg == "") {
                if ($("#isedit").val() == "1") {
                    $("#MyModal").modal('hide');
                    return;
                }
                newrow();
                //getsanaddar();
                //$('#formaction').each(function () {
                //    this.reset();
                //});
                $(".text-success").show(500);
                setTimeout(function () {
                    $(".text-success").hide(500);
                }, 3000);
            }
            else {
                $(".errmsg").html(data.msg);
                $(".errdetail").html(data.err);
                $("#err").modal('show');
            }
        });

    }
    function Edit(id) {
        $(".loading").hide();
        $(".loading").show();
        $.ajax({
            url: "/Pardartbs/Editnoghre/" + id,
            type: "Get"
        }).done(function (result) {
            $("#MyModal").modal("show");
            $("#ModalTittle").html("ویرایش");
            $("#ModalBody").html(result);
            $(".loading").hide();
            loadcoding();
            loadcodingBes();
            $(".DateText , .DateTextE").pDatepicker({
                initialValueType: 'persian',
                calendar: {
                    persian: {
                        locale: 'en'
                    }
                },
                autoClose: true,
                format: 'YYYY/MM/DD'
            });

        });
    };
    function Details(id) {
        $(".loading").show();
        $.ajax({
            url: "/AsnadDar/Details/" + id,
            type: "Get"
        }).done(function (result) {
            $("#MyModal").modal("show");
            $("#ModalTittle").html("نمایش");
            $("#ModalBody").html(result);
            $(".loading").hide();
        });
    };
    function Delete(id) {
        var q = confirm('ایا مطمئن هستید');
        if (q) {
             
            $(".loading").show();
            $.post("/AsnadDar/Delete/" + id, null, function (data) {
                $(".loading").hide();
                if (data.msg == "") {
                    getsanaddar();
                }
                else {
                    $(".errmsg").html(data.msg);
                    $(".errdetail").html(data.err);
                    $("#err").modal('show');
                }
            });
            $(".loading").hide();

        }
    };
    var filter = [];
    function search() {
        var col = $("#selsearch").val();
        var amal = $("#selamal").val();
        var str = amal + $("#txtsearch").val();
        filter[col] = str;
        $('#myTable').trigger('search', [filter]);
    };
    function closesearch() {
        filter = [];
        $('#myTable').trigger('search', [filter]);
    }
</script>
