
@{
    ViewData["Title"] = "داشبورد";
    Layout = Context.Request.Cookies["layoutmain"];

}
<section class="container-card-statistic">
    <div class="statistic">
        <span class="statistic-title">تعداد فاکتور غیر قطعی</span>
        <span class="statistic-counter">۱۱</span>
    </div>
    <div class="statistic">
        <span class="statistic-title">تعداد فاکتور بدهکار</span>
        <span class="statistic-counter">۰</span>
    </div>
    <div class="statistic">
        <span class="statistic-title">فاکتور ‌های فروش امروز</span>
        <span class="statistic-counter">۳۱۷</span>
    </div>
    <div class="statistic">
        <span class="statistic-title">درخواست پاسخ داده نشده</span>
        <span class="statistic-counter">۷</span>
    </div>
</section>
<section class="base-block with-header block-gray-color">
    <header>
        <div>
            <h3>آخرین فاکتور‌های فروش</h3>
        </div>
        <a href="#" class="button2">مشاهده همه</a>
    </header>
    <table class="table">
        <thead>
            <tr>
                <th><span class="order-desc">شماره</span></th>
                <th><span class="order-asc">کالا فروخته شده</span></th>
                <th><span class="order-asc">مشتری</span></th>
                <th><span class="order-asc">تلفن مشتری</span></th>
                <th><span class="order-asc">زمان</span></th>
                <th><span class="order-asc">وضعیت ارسال</span></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>۲۷۴۵۳</td>
                <td>ساعت Omega globe master</td>
                <td>احمدرضا کریمی</td>
                <td>۰۹۱۵۱۱۴۵۵۶۰</td>
                <td>۱۱ تیر - ۱۲:۳۱</td>
                <td><img src="images/icons/checked.svg" />ارسال شده</td>
            </tr>
            <tr>
                <td>۲۷۴۵۳</td>
                <td>ساعت Omega globe master</td>
                <td>احمدرضا کریمی</td>
                <td>۰۹۱۵۱۱۴۵۵۶۰</td>
                <td>۱۱ تیر - ۱۲:۳۱</td>
                <td><img src="images/icons/checked.svg" />ارسال شده</td>
            </tr>
            <tr>
                <td>۲۷۴۵۳</td>
                <td>ساعت Omega globe master</td>
                <td>احمدرضا کریمی</td>
                <td>۰۹۱۵۱۱۴۵۵۶۰</td>
                <td>۱۱ تیر - ۱۲:۳۱</td>
                <td><img src="images/icons/checked.svg" />ارسال شده</td>
            </tr>
        </tbody>
    </table>
</section>

<div class="row">
    <div class="col-6">
        <section class="base-block chart">
            <header>
                <div>
                    <h3>نمودار فروش</h3>
                </div>
            </header>
            <div class="chart_content">
                <img src="images/charts/10.png" alt="">
            </div>
        </section>
    </div>
    <div class="col-6">
        <section class="base-block chart">
            <header>
                <div>
                    <h3>نمودار فروش</h3>
                </div>
            </header>
            <div class="chart_content">
                <img src="images/charts/10.png" alt="">
            </div>
        </section>
    </div>
    <div class="col-6">
        <section class="base-block chart">
            <header>
                <div>
                    <h3>نمودار فروش</h3>
                </div>
            </header>
            <div class="chart_content">
                <img src="images/charts/10.png" alt="">
            </div>
        </section>
    </div>
    <div class="col-6">
        <section class="base-block chart">
            <header>
                <div>
                    <h3>نمودار فروش</h3>
                </div>
            </header>
            <div class="chart_content">
                <img src="images/charts/10.png" alt="">
            </div>
        </section>
    </div>
</div>
