@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "فراموشی کلمه عبور";
    Layout = ViewBag.layoutlogin;
}

<form method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label>نام کاربری خود را وارد نمایید</label>
        <input name="Id" class="form-control" />
        <span asp-validation-for="Input.Email" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-dark">ارسال رمز</button>
</form>
