@model RayaHesab.Models.Pardartb

<h3>آیا مطمئن هستید؟</h3>
<div class="container-fluid">
    <form asp-action="Delete">
        <input type="hidden" asp-for="Mid" />
        <input type="submit" value="حذف" class="btn btn-danger" />
    </form>
</div>