@model RayaHesab.Models.Anbartb
<h3>آیا مطمئن هستید؟</h3>

<div>
    <dl class="dl-horizontal">
        <dt>
            عنوان :
            <span>
                @Html.DisplayFor(model => model.Namec)
            </span>
        </dt>       
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Mid" />
        <input type="submit" value="حذف" class="btn btn-danger" />
    </form>
</div>
