@model RayaHesab.Models.Pardartb
@{
    ViewData["Title"] = "اسناد دریافتنی";
    Layout = null;
}

<form asp-action="Edit"  id="formaction">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Mid" id="txtmid" />
    <input type="hidden" asp-for="Userid" id="txtuser" />
    <div class="row">
        <div class="form-group col-md-4">
            <label asp-for="Noghabz" class="control-label">شماره قبض</label>
            <input asp-for="Noghabz" id="txtname" onkeypress="handle(event,'txtmoin')" class="form-control" />
            <span asp-validation-for="Noghabz" class="text-danger"></span>
        </div>
        <div class="form-group col-md-4">
            <label asp-for="Datec" class="control-label">تاریخ</label>
            <input asp-for="Datec" id="txtdateE" onkeypress="handle(event,'txtmoin')" class="form-control DateTextE" type="text" />
            <span asp-validation-for="Datec" class="text-danger"></span>
        </div>
        <div class="form-group col-md-4">
            <label class="control-label">فروشگاه</label>
            <select asp-for="Idanbar" asp-items="@ViewBag.listanbar" id="selanbar" class="form-control">
                <option value="0">انتخاب کنید</option>
            </select>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="form-group col-sm-6">
            <label asp-for="Sanbes" class="control-label"> پرداخت کننده</label>
            <select asp-for="Sanbes" id="sanE" onkeypress="handle(event,'btnE')" class="form-control select2" asp-items="ViewBag.San"></select>
        </div>
        <input asp-for="Typec" class="form-control" value="4" type="hidden" />
        @if (ViewBag.type == 1)
        {
            <div class="form-group col-sm-6">
                <label asp-for="Moinbed" style="display:block" class="control-label">حساب دریافت کننده</label>
                <div class="autocomplete" style="display:block;">
                    <input onkeypress="handle(event,'txtperson')"
                           value="@ViewBag.namehesab" onkeyup="hesabchange()" id="txtmoin" type="text" class="form-control">
                </div>
                <span class="spanzir" id="namemoin">*</span>
                <input asp-for="Moinbed" type="hidden" id="hfmoinid" />
                <input asp-for="Tafbed" type="hidden" id="hftafid" />
            </div>
        }
        else
        {<div class="form-group col-sm-6">
                <label style="display:block" asp-for="Pidbed" class="control-label">شخص دریافت کننده</label>
                <div asp-for="Pid" onkeypress="handle(event,'mabE')" class="autocomplete form-group" style="display:block">
                    <input id="txtperson" type="text" class="form-control" value="@ViewBag.namehesab" onkeyup="hesabchange()">
                </div>
                <input type="hidden" asp-for="Pidbed" id="hfpersonidE" />
            </div>
        }
        <div class="form-group col-sm-4">
            <label asp-for="Mablagh" class="control-label">مبلغ بریال</label>
            <input asp-for="Mablagh" id="mabE" onkeypress="handle(event,'notE')" class="form-control TNPrice" />
            <span asp-validation-for="Mablagh" class="text-danger"></span>
        </div>
        <div class="form-group col-sm-8">
            <label asp-for="Note" class="control-label">یادداشت</label>
            <input asp-for="Note" id="notE" onkeypress="handle(event,'sanE')" class="form-control" />
            <span asp-validation-for="Note" class="text-danger"></span>
        </div>
        </div>
            <hr />
            <div class="form-group col-sm-12">
                <input type="button" onclick="actionrow()" value="ویرایش" id="btnE" class="btn  btn-primary" />
            </div>
</form>
